
.tabs{
    display: flex;
    height: 60px;
    width: 30%;
    background-color: #f1f1f1;
}
.tabs button{
    width: 150px;
    height: 100%;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.tabs button:hover{
    background-color: #ddd;
}
#active{
    background-color: #cccccc;
}
.card{
    width: 30%;
    height: 150px;
    border: 1px solid #f1f1f1;
    padding: 15px;
    border-top: none;
    display: none;
    box-sizing: border-box;
}
.delBtn{
    float: right;
    cursor: pointer;
}
.delBtn:hover{
    color: red;
}
.card h3{
    margin-bottom: 5px;
}